.slider{
    overflow: auto;
    white-space: nowrap;

    .block-20{
        display: inline-block;
    }
}

.product-image{
    background: url(../../assets/images/collection1.png);
    background-size: 100% auto;
    min-height: 200px;    
    height:150px;
    width: 150px;   
}
.product-image-1{
    background: url(../../assets/images/collection2.png);
    background-size: 100% auto;
    min-height: 200px;    
    height:150px;
    width: 150px;   
}
