.slider{
    overflow: auto;
    white-space: nowrap;

    .block-20{
        display: inline-block;
    }
}

.product-image{
    background: #e10000;  /* fallback for old browsers */    
    height:150px;
    width: 150px;   
}
